#games {
	float: left;
	width: 100%;
	background: #fff;
	margin-top: 24px;
}

#filters {
	float: right;
	width: 100%;
	background: #fff;
}

#filters_toggle {
	background-color: #f6f6f6;
	border: 1px solid #d6d6d6;
	padding: 6px;
	font-size: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	display: inline-block;
}

.games-table {
	width: 100%;
}

.games-table tbody tr td{
	border-top: 1px solid #808080;
	padding-top: 8px;
	padding-bottom: 8px;
}

.cover {
	width: 128px;
}

.cover img{
	width: 128px;
}

.center{
	padding-left: 24px;
}

.info {
	font-size: 12px;
	margin-left: 12px;
	color: #999;
}

.tags {
	float: right;
	font-size: 12px;
	margin-left: 12px;
	margin-right: 12px;
	color: #999;
}
