.page-new {
	padding-left: 13px;
	background: url(../images/document.gif) no-repeat 0 3px;
	color: #555;
}

.page-sub-header {
	font-size: 18px;
	margin-bottom: 30px;
}

.comment-wrapper-more-padding {
	padding-left: 24px;
}
.comment-wrapper-more-padding .comment{
	background-color: #C3DCF4 !important;
}

.second-level {
	border-left-style: solid;
	margin-left: 12px;
	border-color: #ededed;
}
