<li {if $sAction=='microblog' and $sEvent=='microblog'}class="active"{/if}><a href="{router page='microblog'}" >{$aLang.plugin.microblog.name}</a></li>
<link rel="stylesheet" type="text/css" href="/common/plugins/microblog/templates/skin/default/css/style.css">